{% extends 'electricity_cost/electricity_cost_main.html' %}
{% load custom_filters %}
<title>{% block title %}{{ title }}{% endblock %}</title>


{% block content %}
    {% if error_message %}
        <div class="table-container">
            {{ data_diffrent|safe }}
        </div>
        <p>{{ komunikat }}</p>
        <form method="POST">
            {% csrf_token %}
            <!-- Ukryte pole, aby oznaczyć, że użytkownik wybrał nadpisanie danych -->
            <input type="hidden" name=error_message value="true">
            <input type="hidden" name=error_message_2 value={{ request }}>
            <!-- Przyciski potwierdzenia i anulowania -->
            <input type="submit" value="Zatwierdź">
            <button onclick="window.history.back(); return false;">Anuluj</button>
        </form>

    {% else %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="table-container">
                <table class="my-table">
                    <thead>
                    <tr>
                        <th>Numer faktury</th>
                        <th>Rok rozliczeniowy</th>
                        <th>Miesiąc rozliczeniowy</th>
                        <th>Dostawca energi</th>
                        <th>Koszt Brutto</th>
                        <th>Koszta za 1 MwH</th>
                        <th>Ilość MwH</th>
                        
                    </tr>
                    </thead>

                    </tr>
                    <tr>
                        <td>{{ form.invoices_number }}</td>                        
                        <td>{{ form.biling_year }}</td>
                        <td>{{ form.biling_month }}</td>
                        <td>{{ form.energysuppliers }}</td>
                        <td>{{ form.cost }}</td>
                        <td>{{ form.cost_per_1_mwh }}</td>
                        <td>{{ form.numbers_mwh }}</td>
                    </tr>
                </table>
                
            </div>
            <input type="submit" value="Save">
        </form>
    {% endif %}
{% endblock %}