{% extends 'main.html' %}

<title>{% block title %}{{ title }}{% endblock %}</title>


{% block content %}
    <table>
        <thead>
        <tr>
            <th><a href="?sort=cost">Koszt</a></th>
            <!-- Dodaj inne nagłówki kolumn według potrzeb -->
        </tr>
        </thead>
        <tbody>
        {% for obj in object_list %}
            <tr>
                <td>{{ obj.cost }}</td>
                <!-- Dodaj inne pola według potrzeb -->
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">Poprzednie</a>
        {% endif %}
        <span class="current">
            Strona {{ page_obj.number }} z {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Następne</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
    </div>


{% endblock %}