{% extends 'electricity_cost/electricity_cost_main.html' %}

<title>{% block title %}{{ title }}{% endblock %}</title>


{% block content %}
    <div class="mx-auto" style="width: 200px;">
        <button class="button"
                onclick="window.location.href = '{% url 'electricity_cost:dodawanie_reczne_licznikow' is_add_manualy='true' %}'">
            Dodaj nowy
            odczyt z danych ręcznych
        </button>
        <button class="button"
                onclick="window.location.href = '{% url 'electricity_cost:dodawanie_automatyczne_odczytow' %}'">
            Dodaj nowy odczyt z danych automatycznych
        </button>

    </div>
    <div class="table-container">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th><a href="?{% if sort == 'id' %}sort=-id{% else %}sort=id{% endif %}">Identyfikator</a></th>
                <th><a href="?{% if sort == 'biling_year' %}sort=-biling_year
                    {% else %}{% if sort == '-biling_year' %}sort=-id{% else %}sort=biling_year{% endif %}{% endif %}">Rok
                    Rozliczeniowy</a></th>
                <th><a href="?{% if sort == 'biling_month' %}sort=-biling_month
                    {% else %}{% if sort == '-biling_month' %}sort=-id{% else %}sort=biling_month{% endif %}{% endif %}">Miesiąc
                    Rozliczeniowy</a></th>
                <th><a href="?{% if sort == 'date_of_read' %}sort=-date_of_read
                    {% else %}{% if sort == '-date_of_read' %}sort=-id{% else %}sort=date_of_read{% endif %}{% endif %}">Data odczytu</a></th>
                <th>Dodany<br>odczyt automatyczny</th>
                <th>Dodany<br>odczyt ręczny</th>
                <th>Akcje</th>
            </tr>
            </thead>

            <tbody>
            {% for obj in object_list %}
                <tr>
                    <td>{{ obj.id }}</td>
                    <td>{{ obj.biling_year }}</td>
                    <td>{{ obj.biling_month }}</td>
                    <td>{{ obj.date_of_read|date:"Y-m-d" }}</td>
                    {% if obj.add_automatic %}
                        <td>Dodano</td>
                    {% else %}
                        <td>Nie dodano</td>
                    {% endif %}
                    {% if obj.add_manualy %}
                        <td>Dodano</td>
                    {% else %}
                        <td>Nie dodano</td>
                    {% endif %}
                    <td>
                        <a href="{% url 'electricity_cost:edycja_odczytow_licznikow' pk=obj.id is_add_manualy='true' %}">Edycja
                            danych ręcznych</a><br>
                        <a href="{% url 'electricity_cost:edycja_odczytow_licznikow' pk=obj.id is_add_manualy='false' %}">Edycja
                            danych automatycznych</a></td>

                    <!-- Dodaj inne pola według potrzeb -->
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">Poprzednia</a>
        {% endif %}
        <span class="current">
            Strona {{ page_obj.number }} z {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Następne</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Ostatnia &raquo;</a>
        {% endif %}
    </span>
    </div>

{% endblock %}
