header {
    background-color: #f0f0f0;
    padding: 10px;
    display: flex;
    justify-content: space-between; /* Rozłożenie elementów na przestrzeni poziomej */
    align-items: center; /* Wyśrodkowanie elementów na przestrzeni pionowej */
}

.logo {
    /* Możesz dostosować stylowanie logo według własnych preferencji */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* Użyj flexboxa do zarządzania elementami nawigacji */
}

nav ul li {
    margin-right: 10px;
    flex: 1; /* Rozciąganie elementów li, aby równomiernie zajmowały dostępną przestrzeń */
}

.active {
    background-color: #04AA6D;
}

nav ul li:last-child {
    margin-right: 0; /* Usuwa margines po prawej stronie ostatniego elementu */
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

/* Dodaj marginesy dla tabeli */
.table-container {
    margin-left: 100px; /* Margines po lewej stronie */
    margin-right: 100px; /* Margines po prawej stronie */
    font-family: 'Arial', monospace;
    font-size: 16px;
    line-height: 1.5;
    color: black;
}

/* Ustaw szerokość tabeli */
.my-table {
    width: calc(100% - 200px); /* 100% szerokości - suma marginesów po obu stronach */
}

a {
    color: #6c757d; /* Kolor linków */
    text-decoration: none;
}

a:hover {
    text-decoration: none; /* Stylowanie hovera nad linkami */
}

tr {
  border-bottom: 1px solid black; /* Grubość i kolor obramowania wierszy */
}

td{
  border: 1px solid black; /* Grubość i kolor obramowania komórek */
}

.no-border {
    border: none;
    color: white; /* Kolor tekstu biały */
}

th {
  border: 3px solid black; /* Grubość i kolor obramowania komórek */
}

.inline-field {
    display: inline-block;
    width: 45%; /* Dostosuj szerokość według własnych potrzeb */
    margin-right: 5px; /* Odstęp między polami */
}

.container {
    text-align: right;
    float: right;
}

.button {
    display: block;
    margin-bottom: 10px; /* Odstęp między guzikami */
    float: right;

}
